#choixBateaux { margin:0; padding:0; font-size:0; overflow:hidden;
	article { position:fixed; top:0; left:0; bottom:0; right:0;
		ul { width:100%; font-size:0; 
			li { position:relative; .calcWidthKit(100%/4); display:inline-block; font-size:1rem;
				a { display:block; text-align:center; margin:0; background:rgba(255,255,255,0.3); .easeTransition(0.3s);
					p { display:inline-block; width:60%; .novecentowideRegular(); .textUppercase(); color:@colorWhite; padding:10px 20px; border:1px solid @colorWhite; }
					img { z-index:-1; top:0; position:absolute; height:100%; display:block; }
					&:hover { background:rgba(255,255,255,0);
					}
				}
			}
		}
	}	
}